<form class="search-form">
  <input type="text"
         placeholder="seach" 
         id="pictures"
         name="query"
         autocomplete="off"
         class="input-style"/>
         
  
  <ul class="picList"></ul>
  
  <button type="submit" 
          id="search"
           class="button-style">
          Search
  </button>
</form>

<div class="gallery">
  <!-- Список <li> с карточками изображений -->
  </div>

<div class="load-btn">
  <button type="submit" id="LoadMore" class="button-style">Load more</button>
</div>
